@import '../../scss/index.scss';

.user {
    &__title {
        border-bottom: 1px solid $border-grey;
        padding: 15px 0;
        margin: 0;

        h2 {
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}