@import "../../../scss/index.scss";

.info-user {
  margin: 20px;

  * {
    margin: 0;
  }

  svg {
    width: 15px;
    height: 15px;
    fill: $font-grey;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
  }
  .email {
    font-size: 14px;
    color: $font-grey;
  }

  .description {
    margin: 10px 0;
    //saltos de linea-> white-space: pre-line;
    white-space: pre-line;
  }

  .more-info {
    display: block;

    p,
    a {      
      display: inline-block;      
      align-items: stretch;
      flex-direction: column;
      font-size: 14px;
      white-space: pre-wrap;
      word-wrap: break-word;
      color: $font-grey;
      padding: 0 10px;
      font-weight: 400;
      
      svg {
        vertical-align: text-bottom;
        margin-right: 5px;
      }
    }
    a {
      min-width: 40%;
      display: inline-block;
      overflow: hidden;
      margin-bottom: -5px;

    }

    p:first-of-type{
      padding-left: 0 !important;
    } 
    p:last-of-type{
      padding-left: 0 10 !important;
    }

    a {
      color: $primary;
    }
  }
}

@media only screen and (max-width: 768px) {
  .info-user {
    a {
      min-width: 20%;
    }
    p:last-of-type{
      padding-left: 0 !important;
    }
  }
}